<div class="container">
    <h4>{{account?.id}} számla trazakciói:</h4>
  
    <h4>Fogadott tranzakciók: </h4>
    <div class="row">
        <div class="col-md-2">ID</div>
        <div class="col-md-2">Összeg</div>
        <div class="col-md-3">Dátum</div>
        <div class="col-md-2">Küldő</div>
        <div class="col-md-3">Leírás</div>
    </div>
  
    <div class="row" *ngFor="let transaction of account?.receivertransactions">
  
        <div class="col-md-2">{{ transaction.id }}</div>
        <div class="col-md-2">{{ transaction.amount }}</div>
        <div class="col-md-3">{{ transaction.date }}</div>
        <div class="col-md-2">{{ transaction.sender?.id }}</div>
        <div class="col-md-3">{{ transaction.description }}</div>
  
    </div>  
  </div>
