<html>
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-12">
        <h4>Bit Drunk Brit Bank</h4>
        <h5>Ügyintéző weboldala</h5>
        <hr>
      </div>
    </div>  

    <div class="row">
        <div class="col-md-4"><a routerLink="/">Főoldal</a></div>
        <div class="col-md-4"><a routerLink="/client-list" >Ügyfelek kezelése</a></div>
        <div class="col-md-4"><a routerLink="/client-form" >Ügyfél felvétele</a></div>
    </div>
    
    <hr>
  
  <router-outlet></router-outlet>

  </div>
</html> 